<script setup lang="ts">
import { useTransactionStore } from '@/stores/transaction';
import { useUserStore } from '@/stores/users';
import type User from '@/types/Users';
import { onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
const storedUserString = localStorage.getItem('user');
const actionTypes = ['DEPOSIT','WITHDRAW','TRANSFER'];
const selectedValue = ref("DEPOSIT");
const transactionStore = useTransactionStore();
const userStore = useUserStore();
const form = ref<InstanceType<typeof VForm> | null>(null);
const valid = ref(true);
const user = ref<User>({
  balance: 0,
  name: '',
  user_name:'',
});
if (storedUserString) {
    user.value = JSON.parse(storedUserString);
    // console.log(user);
  };
function getBalance(){
    userStore.getUserBalance();
  }

async function proceed(){
  const { valid } = await form.value!.validate();
  if (valid) {
    await transactionStore.saveTransaction(); 
    transactionStore.resetEditedUser();
    // console.log(transactionStore.editedTransaction);
    
  }

} onMounted(async () => {
  await userStore.getUserBalance();
    console.log('mountwork');
    console.log(userStore.user.name);
    console.log(transactionStore.editedTransaction.Action);
  });
</script>
<template>
  <v-container class="ma-6">
    <v-row class="mb-6 align-center"
      ><v-icon icon="mdi-bank-transfer" size="64px" class="mr-6 mt-2 ml-3"></v-icon>
      <h1 class="font-weight-black text-h3">Transaction Service</h1>
    </v-row>
    <v-row class="mb-6"
      ><v-icon class="mr-6 mt-2 ml-6"></v-icon>
      <h1>Balance : {{ userStore.userBalance }}</h1>
    </v-row>
    <v-row>
            <v-col cols="6">
                <v-select label="Action" v-model="transactionStore.editedTransaction.Action" :items="actionTypes"
                    variant="outlined"></v-select>
            </v-col>
        </v-row>
  </v-container>

  <v-card title="Transaction Form"
        variant="outlined" style="width: 60%; margin: 0 auto;">
        <v-sheet style="width: 75%; margin: 0 auto;">
            <v-form @submit.prevent  ref="form" v-model="valid" >
                <v-row v-if="transactionStore.editedTransaction.Action === 'TRANSFER'">
                    <v-text-field label="Receiver Account ID" v-model="transactionStore.editedTransaction.receiver"  :rules="[
                        (v) => !!v || 'Receiver Account ID is required',
                        (v) => /^[A-Za-z0-9]{24}$/.test(v) || 'Receiver Account ID must be 24 characters long and contain only alphabetic and numeric characters',
                        (v) => v != user._id || `You can't transfer to your own account `
                    ]" required class="my-4"></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field label="Amount" v-model="transactionStore.editedTransaction.Amount" :rules="[
                        (v) => !!v || 'Amount value is required',
                        (v) => Number.isInteger(Number(v)) || 'Amount must be an integer',
                        (v) => v > 0 || 'Amount must be greater than 0',
                        (v) => /^(?!0\d+$)\d+$/.test(v) || 'Invalid amount format',
                        (v) => v <= user.balance || `Your balance is insufficient `
                    ]" required class="my-4"></v-text-field>
                </v-row>
            </v-form>
        </v-sheet>
        <v-card-actions>
            <v-btn class="add-btn" color="green" @click="proceed()">Proceed</v-btn>
        </v-card-actions>
    </v-card>
</template>
<style>
.align-center {
  display: flex;
  align-items: center;
}</style>
