<script setup lang="ts">
import { useTransactionStore } from '@/stores/transaction';
import { computed, onMounted, ref } from 'vue';

  const transactionStore = useTransactionStore()
  const selectedValue = ref("DEPOSIT");
  const viewOptions = ['DEPOSIT','WITHDRAW','TRANSFER','RECEIVE'];
  async function getTransferTransaction() {
    await transactionStore.getTransactions();
  }
  const filteredTransactions = computed(() => {
        return transactionStore.transferTransactions.filter(item=>item.Action === selectedValue.value)
    
});
function formatTimestamp(date: Date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    const hours = String(date.getHours()).padStart(2, '0');
    const minutes = String(date.getMinutes()).padStart(2, '0');
    const seconds = String(date.getSeconds()).padStart(2, '0');

    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
}
  onMounted(async () => {
    await transactionStore.getTransactions();
    console.log(transactionStore.transferTransactions);
    console.log(transactionStore.receiveTransactions);
  })
</script>
<template>
  <v-container class="ma-6">
    <v-row class="mb-6"
      ><v-icon icon="mdi-history" size="x-large" class="mr-6 mt-2 ml-3"></v-icon>
      <h1 h1 class="font-weight-black text-h3">Transaction History</h1>
    </v-row>
    <v-row>
      <v-col cols="6"
        ><v-select variant="outlined" label="View by" persistent-hint v-model="selectedValue" :items="viewOptions"></v-select
      ></v-col>
    </v-row>
  </v-container>
  <v-table fixed-header height="300px">
    <thead>
      <tr>
        <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">Datetime</p>
        </th>
        <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">{{ selectedValue === 'TRANSFER'|| selectedValue === 'RECEIVE' ? 'Sender' : 'User' }}</p>
        </th>
        <!-- <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">User</p>
        </th> -->
        <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">Remain</p>
        </th>
        <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">Action</p>
        </th>
        <th class="text-center text-h6 font-weight-bold" v-if="selectedValue === 'TRANSFER'|| selectedValue === 'RECEIVE'">
          <p style="font-family: 'Rubik', sans-serif">Receiver</p>
        </th>
        <th class="text-center text-h6 font-weight-bold">
          <p style="font-family: 'Rubik', sans-serif">Amount</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in (selectedValue !== 'RECEIVE' ? filteredTransactions: transactionStore.receiveTransactions)" :key="index" class="text-center">
      <td>{{ formatTimestamp(new Date(item.createdAt)) }}</td>
      <td>{{ item.sender.name }}</td>
      <td>{{ item.Current }}</td>
      <td>{{ item.Action }}</td>
      <td v-if="selectedValue === 'TRANSFER'|| selectedValue === 'RECEIVE'">{{ item.receiver ? item.receiver.name : '-' }}</td>
      <td>{{ item.Amount }}</td>
    </tr>
    </tbody>
  </v-table>
</template>
