<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useUserStore } from '@/stores/users';
import { onMounted, ref } from 'vue';
const authStore = useAuthStore();
const drawer = ref(true);
const rail = ref(true);
const userStore = useUserStore();
onMounted(async () => {
  console.log('Menumount');
  userStore.getLocalUser();
  await userStore.getUserBalance();
})
</script>
<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      :title="userStore.user.name"
      :subtitle="'Balance : ' +userStore.user.balance"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- <v-list-item prepend-icon="mdi-home" title="Home" value="home" to="/"></v-list-item> -->
      <v-list-item
        prepend-icon="mdi-bank-transfer"
        title="Transaction"
        value="transaction"
        to="/transaction"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-history"
        title="Trasaction history"
        value="transactionHistory"
        to="/transactionHistory"
      ></v-list-item>
      <v-list-item
        @click="authStore.logout()"
        prepend-icon="mdi-exit-to-app"
        title="Logout"
        value="logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
