<script setup lang="ts">
import { useUserStore } from '@/stores/users';
import { onMounted } from 'vue';
const userStore = useUserStore();
onMounted(() => {
  console.log('layourMount');
  
  userStore.getLocalUser()
})
</script>
<template>
  <v-layout>
    <RouterView name="header"></RouterView>
    <RouterView name="menu"></RouterView>

    <v-main><RouterView></RouterView></v-main>
  </v-layout>
</template>
